* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

/* common */
input {
    font-family: inherit;
    font-size: inherit;
}
.desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6; /* 166.667% */
}
.heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}
input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    --height: 52px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--height);
    color: #fff;
    border-radius: 6px;
    background: #212832;
}

.btn:hover {
    opacity: 0.8;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.heading-desc {
    margin-left: 24px;
    position: relative;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.heading-desc::after {
    position: absolute;
    left: -24px;
    bottom: 9px;
    display: inline-block;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}
.nav__stiky {
    position: sticky;
    top: -20px;
    z-index: 1;
    background: #fff;
}
/* navbar */
.navbar__logo-text {
    font-size: 1.6rem;
    color: #212832;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.navbar__item {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.navbar__item:hover {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}
.navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar__logo-img {
    margin-right: 7px;
}

.navbar__list {
    display: flex;
    column-gap: 47px;
}
.navbar {
    padding: 42px 0 6px 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.navbar__action {
    justify-self: flex-end;
}

.navbar__cta:first-child {
    margin-right: 28px;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.hero {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 168px;
}

.hero__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 70px; /* 116.667% */
}

.hero__heading--purple {
    color: #7264d6;
    font-size: 6rem;
    font-weight: 700;
    line-height: 70px;
}
.hero__text {
    max-width: 540px;
}

.hero__desc {
    margin-top: 20px;
}
.hero__input {
    width: 400px;
    padding: 23px 50px 23px 23px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
}
.hero__email {
    margin-top: 40px;
    width: 540px;
    height: 74px;
    position: relative;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.hero__btn {
    width: 149px;
    --height: 58px;
    position: absolute;
    right: 0;
    bottom: 8px;
    background: #7264d6;
}
.hero__desc-bot {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7; /* 171.429% */
}
.hero__phone {
    margin-right: 170px;
}
.hero__img {
    position: relative;
}
.hero__decor {
    position: absolute;
}

.hero__decor-top {
    right: 0;
    top: 127px;
}
.hero__decor-right {
    top: 113px;
    left: -100px;
}
.hero__decor-bot {
    bottom: 61px;
    right: 100px;
}
.how {
    margin-top: 160px;
}
.how__image {
    height: 619px;
}

.how__body {
    display: flex;
    align-items: center;
}
.how__heading--small {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
}
.how__section + .how__section {
    margin-top: 30px;
}
.how__heading {
    margin: 12px 0 70px 0;
}
.how__desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* feature */
.feature {
    margin-top: 160px;
}
.feature__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature__image {
    width: 570px;
    height: 425px;
    object-fit: cover;
}
.feature__desc {
    margin: 20px 0 28px 0;
    max-width: 470px;
}
.feature__desc-item {
    margin-left: 27px;
    position: relative;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
}
.feature__desc-item + .feature__desc-item {
    margin-top: 18px;
}
.feature__desc-list {
    margin-top: 28px;
}
.feature__desc-item::before {
    content: "";
    position: absolute;
    left: -27px;
    bottom: 5px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.feature__btn {
    margin-top: 38px;
    width: 149px;
    --height: 58px;
}

.feature__body-bot {
    margin-top: 160px;
    display: flex;
    align-items: center;
    column-gap: 130px;
}
.feature__image-bot {
    width: 570px;
    height: 600px;
    object-fit: cover;
}

.feedback {
    margin-top: 160px;
}
/* feedback */
.feedback__top {
    text-align: center;
}
.feedback__heading {
    margin: 12px 0 18px 0;
}
.feedback__desc {
    margin: 0 auto;
    font-size: 1.6rem;
    max-width: 435px;
}

.feedback__box {
    position: relative;
    border-radius: 10px;
    filter: drop-shadow(0 0 2px #dfe2e8);
    max-width: 570px;
    background: #fff;
    transition: 0.25s;
}
.feedback__box:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
    transform: translateY(-20px);
}
.feedback__box::after {
    position: absolute;
    bottom: -85px;
    margin-left: 50%;
    transform: translateX(-50%);
    content: "";
    border: 45px solid;
    border-color: #fff transparent transparent transparent;
}
.feedback__say-desc {
    text-align: center;
    padding: 42px 28px;
    color: #696d76;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 154.545% */
}

.feedback__info-image {
    margin: 0 auto;
    height: 104px;
    width: 104px;
    position: relative;
    border-radius: 50%;
}
.feedback__info-image::after {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    content: "";
    border-radius: inherit;
    background: #4ab5e3;
}
.feedback__say:last-child .feedback__info-image::after {
    background: #439f90;
}
.feedback__info-img {
    display: block;
    height: 104px;
    width: 104px;
    border-radius: inherit;
    object-fit: cover;
}

.feedback__info-name {
    margin: 20px 0 2px 0;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
}
.feedback_bot {
    margin-top: 70px;
    display: flex;
    column-gap: 30px;
}

.feedback__info {
    margin-top: 80px;
    text-align: center;
}
.feedback__info:hover .feedback__box {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
    transform: translateY(-20px);
}

.feedback__change {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.feedback__box-nav {
    width: 23px;
    height: 6px;
    border-radius: 1px;
    background: #7264d6;
}

.feedback__box-nav + .feedback__box-nav {
    margin-left: 10px;
    border: 1px solid #9b9fab;
    background: transparent;
}

/* Blog */

.blog {
    margin-top: 160px;
}

.blog__row-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    margin: 6px 0 18px 0;
}
.blog__desc {
    max-width: 435px;
    font-size: 1.6rem;
}

.blog__btn {
    width: 123px;
    --height: 58px;
}
.blog__row-bot {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.blog__art {
    padding: 28px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    transition: 0.25s;
}
.blog__art:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}
.blog__art:hover .blog__art-link {
    color: #7264d6;
}
.blog__image {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.blog__date {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7; /* 171.429% */
}

.blog__art-heading {
    margin: 10px 0 20px 0;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6; /* 166.667% */
}

.blog__art-link {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.blog__content {
    margin-left: 22px;
}
/* download */

.download {
    margin: 160px 0 100px 0;
}
.download__body {
    position: relative;
    padding: 100px 0 100px 0;
    background: #7264d6;
    border-radius: 24px;
}
.download__top {
    text-align: center;
}
.download__heading-desc {
    color: #fff;
}
.download__desc {
    color: #fff;
    max-width: 435px;
    margin: 0 auto;
    font-size: 1.6rem;
}
.download__heading {
    color: #fff;
    margin: 12px 0 18px 0;
}
.download__top .heading-desc::after {
    background: #fff;
}
.download__app {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 182px;
    height: 64px;
    background: #fff;
    object-fit: cover;
}
.download__install {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.download__decor {
    position: absolute;
}
.download__decor-1st {
    top: 49px;
    left: 112px;
}
.download__decor-2st {
    top: 49px;
    right: 112px;
}

.download__decor-3rd {
    bottom: 49px;
    left: 166px;
}
.download__decor-4th {
    bottom: 49px;
    right: 166px;
}
/* footer */

.footer {
    padding-top: 100px;
}
.footer__body {
    display: grid;
    grid-template-columns: 249fr 269fr 249fr 403fr;
}
.footer__mail {
    margin-top: 298px;
    display: inline-block;
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6; /* 166.667% */
    text-decoration-line: underline;
}

.footer__heading {
    margin-bottom: 24px;
    color: #212832;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.footer__item {
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6; /* 166.667% */
}
.footer__item + .footer__item {
    margin-top: 16px;
}
.footer__tel {
    margin-top: 70px;
    display: inline-block;
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration-line: underline;
}

.footer__desc {
    margin-bottom: 48px;
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6; /* 166.667% */
}

.footer__enter {
    width: 270px;
    padding: 12px;
    color: #8e919a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    border-radius: 6px;
    border: 1px solid #8e919a;
}

.footer__sub {
    background: #7264d6;
}

.footer__copyright {
    margin-top: 28px;
}
.footer__copyright-text {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 28px 0 28px 0;
    background: #7264d6;
}
